ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

section {
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  width: 200px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  background-color: aqua;
  border: 2px solid black;
}

div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

p {
  text-align: center;
}

img {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}
